.atf-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  padding: 24px 32px;

  background: #3e4553;
  border-radius: 24px;
}

.atf-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.atf-title {
  font-size: 1.5rem;
  color: white;
}

.atf-textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #f5f5f5;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 12px;
}

.atf-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.atf-button.cancel {
  background: #3e4553;
  color: white;
}

.atf-button.cancel:hover {
  background: #2b303b;
}

.atf-button.add {
  background: #ff7360;
  color: white;
}

.atf-button.add:hover {
  background: #ff5a4c;
}

@media screen and (min-width: 768px) {
  .atf-container {
    width: 50vw;
  }

}